<html>
<head>
    <title>Welcome Page</title>
    <style>
        body{
            background-color: rgb(255, 255, 255);
            color: rgb(0, 17, 255);
            font-size: 30px;
        }
        .logout-button {
            margin-top: 20px;
        }
        .logout-button button {
            background-color: rgb(214, 14, 14);
            color: rgb(255, 255, 255);
            width: 100px; /* Set the width */
            height: 50px; /* Set the height */
            font-size: 20px; /* Set the font size */
        }
    </style>
</head>
<body>
    <center>
        <h2>Welcome :-)</h2>
        <h2>You are successfully logged in.</h2>
    </center>
    <center>
        <form method="post" action="{% url 'logout' %}" class="logout-button">
            {% csrf_token %}
            <button type="submit"><b>Logout</b></button>
        </form>
    </center>
</body>
</html>
